/* public/styles.css */

/* Global styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    color: #333;
}

/* Container to center the content */
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Form styles */
form {
    display: grid;
    gap: 20px;
    max-width: 400px;
    margin: 0 auto;
}

input[type="number"], input[type="submit"] {
    padding: 10px;
    font-size: 1rem;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ddd;
}

input[type="submit"] {
    background-color: #3498db;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #2980b9;
}

/* Prediction  */
.result {
    font-size: 1.5rem;
    font-weight: bold;
    color: #e74c3c;
}

.result-benign {
    color: #2ecc71;
}
.Welcome{
    text-align: center;


}
